.SideSocial{
  position: relative;
  top: 50%;
  float: left;
  transform: translateY(-50%);
  &__list{
    list-style: none;
    display: inline-block;
    li{
      margin: 15px 0;
      a{
        transition: opacity 200ms ease-in-out;
        text-decoration: none;
      &:hover{
        opacity: .6;
      }
        img{
          width: 25px;
          height: auto;
          transform: rotate(-90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 842px){
  .SideSocial{
    position: fixed;
  }
}