.footer{
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  color: white;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  &__page{
    margin: 0;
    color: white;
    opacity: .4;
    font-size: .8em;
    a{
      font-weight: 700;
      color: white;
      text-decoration: none;
    }
  }
  &__design{
    margin: 3px 0;
    opacity: .4;
    font-size: .8em;
    a{
      font-weight: 700;
      color: white;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 842px){
  .footer{
    justify-content: cnter;
    align-items: flex-start;
    margin-left: 40px;
  }
}